{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center">
        <h1>{{ job.name }}</h1>
        <p>{{ job.description }}</p>

        <p><a href="{% url 'home' %}">Back to main.</a></p>
    </div>

    <div class="row">
        {% for brew in brews %}
        <div class="col-6">
            <div class="row" onclick="window.location='{% url 'brew' job.id brew.id %}';" style="cursor: pointer;">
                <div class="col-8">
                    <h3>{{ brew.title }}</h3>
                </div>
                <div class="col-4">{{ brew.user }}</div>
            </div>
            <div class="row">
                <div class="col-12">{{ brew.sum }}</div>
            </div>
            <div class="row">
                <div class="col-12 text-center">{{ brew.date }}</div>
            </div>
        </div>
        <br/>
        {% endfor %}
    </div>

</div>


{% endblock %}